@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caudex', serif !important;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
    background-color: #0c602b;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #ccc;
    border-radius: 20px;
  }
  .css-123-sign{
    display: block;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0px 170px;
}
  /* ===========================Sign-Up PAGE LAYOUT=============================== */
  @media screen and (max-width: 450px) {
    .css-123-sign{
        margin: 0px;
    }
    .css-234{
        margin: 10px 15px;
    }
    .icon-s {
        font-size: 35px;
    }
    .icon-text h3{
        font-size: 12px;
    }
    .css-20{
        flex-direction: column;
        margin: 30px 10px;
    }
    .css-20 img{
        width: 347px;
        height: 280px;
    }
    .css-21{
        padding: 0px 10px;
    }
    .input-css{
        padding: 0.9rem 2rem 0.9rem 1.25rem;
    }
  }
/* ===========================Service and SigIn PAGE LAYOUT=============================== */
@media screen and (max-width: 450px) {
    .css-f{
        width: 80%;
    }
    .css-flex{
        padding: 0px;
    }
    .css-388{
        margin: 10px 0px;
        flex-direction: column;
        height: auto;
    }
    .css-388 img{
        width: 351px;
        height: 351px;
    }
    .css-002{
        padding-top: 20px;
        gap: 30px;
    }
    .css-m {
        margin-bottom: 30px;
        width: auto;
    }
}

