@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caudex', serif !important;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
    background-color: #0c602b;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #ccc;
    border-radius: 20px;
  }
  /* =======================HOME PAGE MOBILE NAVBAR======================= */
  .mobile-hamburger{
    display: none;
  }
  #mobile-nav{
    display: none;
  }
  .overlay {
    display: none;
    height: 600px;
    width: 0%;
    /* opacity: 95%; */
    height: calc(100vh - 10px);
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #0c602b;
    overflow-x: hidden;
    transition: 1s;
}
.closebtn{
    padding: 0px 1.4rem;
    float: right;
    color: #fff;
    text-decoration: none;
}
.overlay-content{
    padding: 1rem .7rem;
}
.css-menu{
    text-align: center;
    font-size: 2rem;
    margin-left: 30px;
}
.css-item{
    padding: 1.5rem 0rem;
}
.css-item ul{
    list-style: none;
}
.css-item ul li{
    padding: 1rem 0rem;
    border-bottom: 1px solid silver;
    font-size: 1.2rem;
}
.css-item ul li a{
    text-align: left;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.4s all ease-in;
}
.css-mobile{
    width: 100%;
    display: block;
    padding: 0.7rem 1.9rem;
    color: #f9f9f9;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border: 1px solid #000;   
    margin: 1rem 0 ;
    transition: .2s ease-out;
}
  @media screen and (max-width: 450px) {
    .b-t , .css-122{
        display: none;
    }
    .mobile-hamburger{
        display: grid;
        justify-content: center;
        align-items: center;
      }
      
  }
  /* ===========================Sign-Up PAGE LAYOUT=============================== */
  @media screen and (max-width: 450px) {
    .css-123{
        margin: 0px;
    }
    .css-234{
        margin: 10px 15px;
    }
    .icon-s {
        font-size: 35px;
    }
    .icon-text h3{
        font-size: 12px;
    }
    .css-20{
        flex-direction: column;
        margin: 30px 10px;
    }
    .css-20 img{
        width: 347px;
        height: 280px;
    }
    .css-21{
        padding: 0px 10px;
    }
    .input-css{
        padding: 0.9rem 2rem 0.9rem 1.25rem;
    }
    .foot-css{
        flex-direction: column;
        align-items: center;
    }
    .css-logo{
        width: 47%;
    }
    .css-footer{
        width: 90%;
        justify-content: center;
        margin-bottom: 25px !important;
        align-items: center;
    }
    .css-footer-1{
        width: 95%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0px !important;
        margin-top: 0px;
    }
    .css-350{
        width: 80%;
        margin-bottom: 15px;
    }
    .css-352{
        width:80%;
    }
    .css-form {
        width: 95%;
    }
    .css-450 {
        text-align: center;
        display: block;
        gap: 0px;
    }
  }
/* ===========================Sign-In PAGE LAYOUT=============================== */
@media screen and (max-width: 450px) {
    .css-f{
        width: 80%;
    }
    .css-flex{
        padding: 0px;
    }
    .css-388{
        margin: 10px 0px;
        flex-direction: column;
        height: auto;
    }
    .css-388 img{
        width: 351px;
        height: 351px;
    }
    .css-002{
        padding-top: 20px;
        gap: 30px;
    }
    .css-m {
        margin-bottom: 30px;
        width: auto;
    }
}
